[user]
	email = chrisdean258@gmail.com
	name = Chris Dean
[push]
	default = simple

[alias]
	b = !~/.git_scripts/branch
	changed = diff --name-only
	ci = commit
	co = checkout
	commits = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ignore = update-index --skip-worktree
	ignored = !git ls-files -v | grep \"^S\"
	keep = !~/.git_scripts/keep
	merge-all = !~/.git_scripts/merge_all
	note = !~/.git_scripts/notes
	p = !~/.git_scripts/stash_pull_pop
	rebase-all = !~/.git_scripts/rebase_all
	reload-hooks = !~/.git_scripts/reload-hooks
	rh = reset --hard
	save = !~/.git_scripts/save
	stat = status
	unignore = update-index --no-skip-worktree
	web = !~/.git_scripts/website
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[init]
	templatedir = ~/.git_template
[credential]
	helper = cache
