[user]
	email = chrisdean258@gmail.com
	name = Chris Dean
[push]
	default = simple

[alias]
	changed = diff --name-only
	stat = status
	ci = commit
	co = checkout
	rh = reset --hard
	ignore = update-index --skip-worktree
	unignore = update-index --no-skip-worktree
	ignored = !git ls-files -v | grep \"^S\"
	b = !~/.git_scripts/branch
	save = !~/.git_scripts/save
	note = !~/.git_scripts/notes
	reload-hooks = !~/.git_scripts/reload-hooks
	issues = !ghi
	i = !ghi
	keep = !~/.git_scripts/keep
	new-repo = !~/.git_scripts/new_github_repo
	delete-repo = !~/.git_scripts/delete_github_repo
	rebase-all = !~/.git_scripts/rebase_all
	merge-all = !~/.git_scripts/merge_all
	ppp = !~/.git_scripts/push_pull_pop
	commits = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[init]
	templatedir = ~/.git_template
[credential]
	helper = cache
